extends ../template

block variables
    - var title = 'Опыт работы'

block content
    h2 Central St. Martins, London - B.A Hons. in Graphic Design
    p June 2009 / June 2011
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo

    h2 L.C.P, London - Foundation Art
    p September 2007 / June 2009
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo.

    h2 New College, London - A Levels
    p September 2006 / June 2007
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo.