extends ../template

block variables
    - var title = 'Опыт работы'

block content
    h2 Html Design Studios - Web Designer
    p Октябрь 2012 / Ноябрь 2014
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo.

    h2 Ampersand Design Company - Junior Designer
    p Январь 2015 / Март 2017
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo.

    h2 Blue Cat Design - Freelance - Junior PHP Developer
    p Апрель 2018 / Октябрь 2020
    p Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo.

    //include ../common/slider.pug