extends ../template

block variables
    - var title = 'Резюме'

block content
    h1 Моё резюме

    ul.menu
        li
            a(href="/resume.html") О себе
        li
            a(href="/my_work.html") Опыт работы
        li
            a(href="/education.html") Образование
        li
            a(href="/skills.html") Навыки и умения

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed egestas mattis tortor, quis auctor orci commodo id. In hac habitasse platea dictumst. Integer sed nisi nibh. Integer neque mi, pellentesque ut adipiscing ultrices, egestas vel ligula. Integer interdum ultrices turpis. Ut non est sed odio malesuada congue ac id ipsum. Duis mi tellus, porttitor a tristique eu, porttitor a odio. Curabitur accumsan cursus sollicitudin. Nullam quis ante ante, sed molestie elit. Morbi egestas est quis metus luctus accumsan. Duis interdum lectus eget est hendrerit.
    p Aliquam porttitor faucibus rhoncus. Aliquam erat volutpat. Vestibulum molestie fringilla mollis. Fusce eu neque arcu. Donec blandit imperdiet mollis. Etiam suscipit nisl eget libero aliquet tincidunt.

    ul
        li Nullam luctus neque sed urna mattis interdum.
        li Duis enim lectus euismod non porttitor non, vulputate eget ipsum.
        li Proin imperdiet arcu in consequat malesuada, hover over me to see a tool tip.