header.header
    .container 
        .header__flex
            .header__logo
                img(src="./assets/images/logo.png" width="200" height="80") 
                img(src="./assets/images/gmail.png" width="16" height="16")
                img(src="./assets/images/skype.png" width="16" height="16")
                img(src="./assets/images/facebook.png" width="16" height="16")
                img(src="./assets/images/gtalk.png" width="16" height="16")
                img(src="./assets/images/twitter.png" width="16" height="16")
            .header__social
                a(href="#", img src="./assets/images/gmail.png" width="16" height="16")
                a(href="#", img src="./assets/images/skype.png" width="16" height="16")
                a(href="#", img src="./assets/images/facebook.png" width="16" height="16")



   